---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/ambv/black
    # renovate: datasource=pypi depName=black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pycqa/isort
    # renovate: datasource=pypi depName=isort
    rev: 5.12.0
    hooks:
      - id: isort
        language_version: python3
  - repo: https://github.com/adrienverge/yamllint.git
    # renovate: datasource=pypi depName=yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        language_version: python3
